/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Yellowtail&display=swap');
*{
    font-family: "Oswald";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/*Inicio*/
.inicio {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
    url("/img/fondo.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.inicio .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio .contenido-seccion header{
    padding: 30px;
}

/*Menu lateral*/
.inicio .contenido-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: rgb(112, 214, 255);
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}
.inicio .contenido-seccion header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}
/*****/
.inicio .contenido-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion header .logo .color{
    color: rgb(112, 214, 255);
    font-family: "Yellowtail";
}
.inicio .contenido-seccion header .nav-bar{
    position: fixed;
    background-color: rgb(112, 214, 255);
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}
.inicio .contenido-seccion header .nav-bar:hover{
    box-shadow: 0 0 35 px #fff;
}
.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}
.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}
.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}
.inicio .contenido-seccion .info a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: rgb(112, 214, 255);
    border: 1px solid rgb(112, 214, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}
.inicio .contenido-seccion .info a:hover{
    color: #fff;
    background-color: rgb(112, 214, 255);
    box-shadow: 0 0 20px #fff;
}
.inicio .contenido-seccion .foto{
    position: relative;
}
.inicio .contenido-seccion .foto img{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(112, 214, 255);
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}